* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #ffffff;
}

/* common styless */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.common-button {
    background-color: #4361ee;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
}

.common-button:hover {
    background-color: #3050d5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

ul li a {
    text-decoration: none;
    color: #575757;
    font-weight: 500;
    font-size: 16px;
}

ul li a:hover {
    color: #4361ee;
}

/* hero sectionn */
.hero-parent-root {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(33, 23, 34, 0.5)), url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    min-height: 500px;
    display: flex;
    align-items: center;
}

.hero-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    color: white;
    max-width: 700px;
}

.hero-content h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}



.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
    color: white;
}

.hero-button {
    font-size: 24px;
    padding: 18px 50px;
    margin-top: 300px;
}
